@font-face {
  font-display: swap;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-condensed-v13-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-condensed-v13-latin-700.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bellefair-v15-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v13-latin-regular.woff2') format('woff2'); 
}

body {
    max-width:1440px;
    font-family: "Barlow Condensed", sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Bellefair", serif;
}

p {
    font-family: "Barlow", sans-serif;
}

body {
    background-image: url(../images/space-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1024px) {
  body {
    background-image: url(../images/Bitmap.jpg);
    background-position: center;
  }
}